/* .table_head th{
    font-size: 11px;
    padding: 3.5px;
}

.table_bdy td{
    font-size: 12px;
} */


/* 

.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }


table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; } */